@charset "UTF-8";

/* ==================== 共通 ==================== */
/*
:root{
    --font-family-sans-serif: "Helvetica Neue", Helvetica, Arial,'Oswald','Noto Sans JP', sans-serif;
    --font-family-monospace: "Helvetica Neue", Helvetica, Arial,'Noto Sans JP', monospace;
}
*/

html {
    font-family: YuGothic, "Yu Gothic Medium", "Yu Gothic";
    max-width: 100%;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    /*background-color: rgb(56,56,56);*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

section {
    /*background-color: rgb(56,56,56);*/
    color: #ffffff;
    height: 100vh;
}



.container {
    margin-left: auto;
    margin-right: auto;
    padding: 100px 0px;
    width: 70vw;
    height: 100%;
    text-align: center;
}

h1 {
    font-size: 50px;
    margin-bottom: 80px;
    display: block;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: solid 1px #ffffff;
    letter-spacing: 0.1em;
    /* text-shadow: 1px 2px 3px #808080;*/
}

.wrapper {
    text-align: left;
    position: relative;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    line-height: 2;
}

img {
    width:100%;
    max-width: 100%;
    height: auto;
}

/*--固定背景の設定--*/
.cd-fixed-bg {
    position: relative;
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 2;
}

/*--固定背景01--*/
.cd-fixed-bg.cd-bg-1 {
    background-image: url("./img/t3_0000.png");
}

/* ==================== top ==================== */

/*
.section0 {
    background-image: url("./img/t2/t2_0002.png");
    background-position: center center;
    background-size:cover;
}
*/

/*==================== concept ==================== */
.concept-wrapper p {
  font-size: 16px;
  line-height: 2;
  margin-bottom: 0px;
}

.en-concept{
    display:none;
}

/* ==================== talkevent ==================== */

.talk-h1:before {
    width: 80vw;/*線の長さ*/
}


/* ==================== works ==================== */
.works-h1:before {
    left: 0px;
    width: 110vw;/*線の長さ*/
}

/* ==================== footer ==================== */
footer {
    margin-left: auto;
    margin-right: auto;
    border-top: solid 1px #ffffff;
    padding-top: 20px;
    padding-left: 5vw;
    padding-right: 5vw;
}

.footer-container {
    display: flex;
    justify-content:space-between;
    margin-bottom: 50px;
}

.img-container img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.footer-logo {
    width: 500px;
    left: 0px;
    float: right;
    margin-bottom: 300px;
}

footer p{
    color: #ffffff;
}


/* =============================================== */
/* ==================== タブレット ==================== */
/* =============================================== */

@media screen and (min-width:768px) and (max-width:1033px) {
    .js-modal-open img {
        width: 120px;
        height: 120px;
    }

    .section0 {
        background-image: url("./img/t2/t2_0002.png");
    }

    .container3 {
        width: 95vw;
    }

    .container4 {
        width: 95vw;
    }


    .work {
        float: left;
        padding: 0 20px;
        text-align: center;
        box-sizing: border-box;
    }

    .work-caption {
        width: 175px;
    }

    .date__table {
        width: 100%;
    }

/* ==================== Concept ==================== */
    .concept-wrapper p {
        font-size: 1.2rem;
    }

}

/* =============================================== */
/* ==================== スマホ ==================== */
/* =============================================== */

@media screen and (max-width:767px) {

/* ==================== 共通 ==================== */
    html {
        font-size: 12px;
    }

    h1 {
        font-size: 30px;
        width: 80vw;
    }

    .section {
        padding-top: 3px;
    }

    .section0 {
        background-image: url(./img/web_top_img2_sp2.png);
    }


/* ==================== Concept ==================== */

.concept-wrapper {
    height: 80vh;
    position: relative;
    overflow: scroll;
    top: -10px;
}

.concept-wrapper p{
    font-size: 13px;
    position: relative;
    margin-bottom: 0px;
}
}
